



/* Dark mode */
body[data-bs-theme="dark"] {
    background: #0F0F0F; /* Dark background */
    color: #f5f5f5; /* Light text */

}

body[data-bs-theme="dark"] main {
    background: #1A1A1A; /* Dark container background */
    color: #f5f5f5; /* Light text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Adjust shadow for dark mode */
    border-radius: 12px;
}

button, input, .form-check-input, .form-range {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}


h1,
h2 {
    margin: 0;
    font-weight: 400;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.btn-primary {
    background-color: #CE7D63 !important; /* Custom background color */
    color: #0F0F0F !important; /* Custom text color */
    border: none; /* Removes border */
    transition: all 0.3s ease; /* Adds smooth transitions */
}

.btn-primary:hover {
    background-color: #B65E54 !important; /* Slightly darker shade for hover */
    color: #0F0F0F !important; /* Keeps the text color consistent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow on hover */
    transform: scale(1.1, 1.1); /* Increases size by 150% */
}


#output {
    margin-top: 2rem;
    padding: 1rem;
    background: #fafafa;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

#output-images img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Default greyed-out state */
.mb-3.disabled {
    opacity: 0.2;
    pointer-events: none; /* Prevent interaction */
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out; /* Smooth transition */
}

/* Active (enabled) state */
.mb-3.active {
    opacity: 1;
    pointer-events: all; /* Allow interaction */
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out; /* Smooth transition */
}







/* --------------Bootstrap color overrides-------------- */
/* Remove default blue outlines and add custom styles */
input:focus,
button:focus,
.form-check-input:focus,
.form-range:focus {
    outline: none;
}

/* Sliders */
.form-range {
    background-color: #1a1a1a;
}

.form-range::-webkit-slider-thumb {
    background-color: #CE7D63FF;
    border: none;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px #CE7D63FF;
}

/* Checkboxes */
.form-check-input:checked {
    background-color: #CE7D63FF;
    border-color: #CE7D63FF;
}

.form-check-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #CE7D63FF;
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #CE7D63FF; /* Custom focus shadow */
    border-color: #CE7D63FF; /* Custom focus border */
}


